* {
  outline: none;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}

:root {
  --text-color: rgb(48, 48, 48);
}

body {
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color);
}

/* header */
header {
  margin-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: normal;
  font-size: 1.8rem;
}

/* main */
.wrapper {
  text-align: center;
}

.description {
  margin-top: 3vh;
  padding: 0 5vw;
  font-size: 0.9rem;
}

.img-container {
  margin: 4vh auto 0;
  max-width: 540px;
  min-height: 40vh;
  max-height: 50vh;
  background: rgba(247, 247, 247, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.img-container > .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img-container > img {
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
  min-width: 80%;
  max-height: 35vh;
  object-fit: cover;
}

.fetch-button {
  border: none;
  margin-top: 5vh;
  padding: 16px 24px;
  font-size: 1.1rem;
  border-radius: 3px;
  box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.05);
  background: white;
  transition: 0.05s;
  cursor: pointer;
}

/* footer */
footer {
  width: 100%;
  padding: 2.5vh 0;
  text-align: center;
  border-top: 1px solid rgb(200, 200, 200);
  position: absolute;
  bottom: 0;
}

footer > p {
  font-size: 1rem;
}

footer > p > a {
  color: var(--text-color);
}

/* responsive */
@media screen and (max-height: 700px) {
  h1 {
    font-size: 1.3rem;
  }
  .description {
    margin-top: 5px;
    font-size: 0.8rem;
  }
  .fetch-button {
    font-size: 1rem;
  }
}
