* {
  outline: none;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}

:root {
  --text-color: rgb(48, 48, 48);
}

#app {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color);
}

/* header */
header {
  margin-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: normal;
  font-size: 1.8rem;
}

/* main */
.wrapper {
  padding: 0 16px;
  text-align: center;
}

.description {
  margin-top: 3vh;
  padding: 0 5vw;
  font-size: 0.9rem;
}

.img-container {
  margin: 4vh auto 0;
  max-width: 540px;
  min-height: 40vh;
  max-height: 50vh;
  background: rgba(247, 247, 247, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.img-container > .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img-container > img {
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
  min-width: 80%;
  max-height: 35vh;
  object-fit: cover;
}

.fetch-button {
  border: none;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 50%;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.02);
  background: white;
  color: white;
  cursor: pointer;
}

.fetch-button:active {
  margin-top: 52px;
  box-shadow: none;
}

/* footer */
footer {
  width: 100%;
  padding: 2.5vh 0;
  text-align: center;
  border-top: 1px solid rgb(200, 200, 200);
  position: fixed;
  bottom: 0;
  z-index: 10;
  background: white;
}

footer > p {
  font-size: 1rem;
}

footer > p > a {
  color: var(--text-color);
}

/* responsive */
@media screen and (max-height: 700px) {
  h1 {
    font-size: 1.3rem;
  }
  .description {
    margin-top: 5px;
    font-size: 0.8rem;
  }
  footer {
    padding: 8px 0;
  }
  footer > p {
    font-size: 0.8rem;
  }
}
